<mat-radio-group [(ngModel)]="clinicaTipo" (change)="setValidator($event)" class="fw d-flex">
  <mat-radio-button [value]="1" [checked] class="flex-grow-1">Pessoa Física</mat-radio-button>
  <mat-radio-button [value]="2" class="flex-grow-1">Pessoa Jurídica</mat-radio-button>
</mat-radio-group>
<h3 class="mt-4">Dados Pessoas</h3>
<form [formGroup]="clinicaForm">
  <mat-form-field class="fw" *ngIf="clinicaTipo === 1">
    <input matInput formControlName="nome" placeholder="Nome Completo">
    <mat-error *ngIf="clinicaForm.get('nome').hasError('required') && clinicaForm.get('nome').touched">Preencha o Nome</mat-error>
    <mat-error *ngIf="clinicaForm.get('nome').hasError('minlength') && clinicaForm.get('nome').touched">O nome necessita ao menos 4 letras</mat-error>
  </mat-form-field>
  <mat-form-field class="fw" *ngIf="clinicaTipo === 1">
    <input matInput formControlName="cpf" placeholder="CPF">
    <mat-error *ngIf="clinicaForm.get('cpf').hasError('required') && clinicaForm.get('cpf').touched">Preencha o CPF</mat-error>
    <mat-error *ngIf="clinicaForm.get('cpf').hasError('minlength') && clinicaForm.get('cpf').touched">CPF inválido</mat-error>
  </mat-form-field>

  <mat-form-field class="fw" *ngIf="clinicaTipo === 2">
    <input matInput formControlName="razaoSocial" placeholder="Razão Social">
    <mat-error *ngIf="clinicaForm.get('razaoSocial').hasError('required') && clinicaForm.get('razaoSocial').touched">Preencha a Razão Social</mat-error>
    <mat-error *ngIf="clinicaForm.get('razaoSocial').hasError('minlength') && clinicaForm.get('razaoSocial').touched">A Razão Social necessita ao menos 4 letras</mat-error>
  </mat-form-field>
  <mat-form-field class="fw" *ngIf="clinicaTipo === 2">
    <input matInput formControlName="cnpj" placeholder="CNPJ">
    <mat-error *ngIf="clinicaForm.get('cnpj').hasError('required') && clinicaForm.get('cnpj').touched">Preencha o CNPJ</mat-error>
    <mat-error *ngIf="clinicaForm.get('cnpj').hasError('minlength') && clinicaForm.get('cnpj').touched">CNPJ inválido</mat-error>
  </mat-form-field>
  <h3>Dados Bancários</h3>
  <mat-form-field class="fw">
    <mat-select formControlName="banco" placeholder="Banco">
      <mat-option *ngFor="let banco of bancos" value="{{banco.cod}}">{{banco.nome}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="agencia" placeholder="Agência">
      <mat-error *ngIf="clinicaForm.get('agencia').hasError('required') && clinicaForm.get('agencia').touched">Preencha a Agência</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="conta" placeholder="Conta">
      <mat-error *ngIf="clinicaForm.get('conta').hasError('required') && clinicaForm.get('conta').touched">Preencha a Conta</mat-error>
    </mat-form-field>
  </div>

  <h3>Endereço</h3>
  <mat-form-field class="fw">
    <input matInput formControlName="cep" placeholder="CEP" (blur)=buscaCep($event.target.value)>
    <mat-error *ngIf="clinicaForm.get('cep').hasError('required') && clinicaForm.get('cep').touched">Preencha o CEP</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="endereco" placeholder="Endereço completo">
    <mat-error *ngIf="clinicaForm.get('endereco').hasError('required') && clinicaForm.get('endereco').touched">Preencha o Logradouro</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="bairro" placeholder="Bairro">
    <mat-error *ngIf="clinicaForm.get('bairro').hasError('required') && clinicaForm.get('bairro').touched">Preencha o Bairro</mat-error>
  </mat-form-field>
  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="cidade" placeholder="Cidade">
      <mat-error *ngIf="clinicaForm.get('cidade').hasError('required') && clinicaForm.get('cidade').touched">Preencha o Cidade</mat-error>
    </mat-form-field>
    <mat-form-field class="ml-1">
      <input matInput formControlName="estado" placeholder="Estado">
      <mat-error *ngIf="clinicaForm.get('estado').hasError('required') && clinicaForm.get('estado').touched">Preencha o Estado</mat-error>
    </mat-form-field>
  </div>
</form>
