
<mat-sidenav-container class="example-container" role="navigation">
  <mat-sidenav class="main-nav left" #sidenav mode="side" opened>
    <div class="logo">
      <div class="icone">
        <img src="../../assets/img/logo-min.png" alt="AnalitiX" class="logo-img">
      </div>
      <span class="titulo">
          Analitix
      </span>
    </div>
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav #sidenav2 mode="over" position="end">
    End Sidenav
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <mat-toolbar class="d-flex justify-content-center">
      <div class="mr-auto p-2">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- <div class="p-2">
        <button mat-icon-button (click)="sidenav2.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div> -->
      <app-usermenu (myEvent)="logout($event)" class="ml-auto"></app-usermenu>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
