.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  width: 250px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.main-nav {
  background-color: #2d323e;
  color: #838790;
}
mat-toolbar {
  padding-right: 0;
  background-color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.logo {
  padding: 10px 12px;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #1e2129;
  height: 64px;
  border-bottom: 1px solid #20a8d8;
}
.logo .icone {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .icone .logo-img {
  width: 36px;
  height: 36px;
}
.logo .titulo {
  color: #fff;
  font-size: 24px;
  margin-left: 15px;
}

mat-sidenav-content {
  background-color: #f5f5f5;
}