<h3 class="mt-4">Dados Pessoas</h3>
<form [formGroup]="pacienteForm">
  <mat-form-field class="fw">
    <input matInput formControlName="nome" placeholder="Nome Completo">
    <mat-error *ngIf="pacienteForm.get('nome').hasError('required') && pacienteForm.get('nome').touched">Preencha o Nome</mat-error>
    <mat-error *ngIf="pacienteForm.get('nome').hasError('minlength') && pacienteForm.get('nome').touched">O nome necessita ao menos 4 letras</mat-error>
  </mat-form-field>
  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="cpf" placeholder="CPF">
      <mat-error *ngIf="pacienteForm.get('cpf').hasError('required') && pacienteForm.get('cpf').touched">Preencha o CPF</mat-error>
      <mat-error *ngIf="pacienteForm.get('cpf').hasError('minlength') && pacienteForm.get('cpf').touched">CPF inválido</mat-error>
    </mat-form-field>
    <mat-form-field class="ml-1">
      <mat-select formControlName="sexo" placeholder="Sexo">
        <mat-option value="feminino">Feminino</mat-option>
        <mat-option value="masculino">Masculino</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="nascimento" [matDatepicker]="picker" placeholder="Data de Nascimento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="pacienteForm.get('nascimento').hasError('required') && pacienteForm.get('nascimento').touched">Escolha uma data</mat-error>
    </mat-form-field>
    <mat-form-field class="ml-1">
      <input matInput formControlName="celular" placeholder="Celular">
      <mat-error *ngIf="pacienteForm.get('celular').hasError('required') && pacienteForm.get('celular').touched">Preencha o Celular</mat-error>
    </mat-form-field>
  </div>

  <h3>Endereço</h3>
  <mat-form-field class="fw">
    <input matInput formControlName="cep" placeholder="CEP" (blur)=buscaCep($event.target.value)>
    <mat-error *ngIf="pacienteForm.get('cep').hasError('required') && pacienteForm.get('cep').touched">Preencha o CEP</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="endereco" placeholder="Endereço completo">
    <mat-error *ngIf="pacienteForm.get('endereco').hasError('required') && pacienteForm.get('endereco').touched">Preencha o Logradouro</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="bairro" placeholder="Bairro">
    <mat-error *ngIf="pacienteForm.get('bairro').hasError('required') && pacienteForm.get('bairro').touched">Preencha o Bairro</mat-error>
  </mat-form-field>
  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="cidade" placeholder="Cidade">
      <mat-error *ngIf="pacienteForm.get('cidade').hasError('required') && pacienteForm.get('cidade').touched">Preencha o Cidade</mat-error>
    </mat-form-field>
    <mat-form-field class="ml-1">
      <input matInput formControlName="estado" placeholder="Estado">
      <mat-error *ngIf="pacienteForm.get('estado').hasError('required') && pacienteForm.get('estado').touched">Preencha o Estado</mat-error>
    </mat-form-field>
  </div>
</form>
