<div class="d-flex flex-column">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active"> 
        <mat-icon matListIcon iconsmall>dashboard </mat-icon>
          <h3 matLine>Dashboard</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/laboratorios']" routerLinkActive="active" *appHasRole="['Clinica']"> 
        <mat-icon matListIcon iconsmall>local_pharmacy </mat-icon>
          <h3 matLine>Laboratórios</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/medicos']" routerLinkActive="active" *appHasRole="['Clinica']"> 
        <mat-icon matListIcon iconsmall>local_hospital </mat-icon>
          <h3 matLine>Médicos</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/motoboys']" routerLinkActive="active" *appHasRole="['Clinica']"> 
        <mat-icon matListIcon iconsmall>motorcycle </mat-icon>
          <h3 matLine>Motoboys</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/pacientes']" routerLinkActive="active" *appHasRole="['Clinica']"> 
        <mat-icon matListIcon iconsmall>account_box </mat-icon>
          <h3 matLine>Pacientes</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/uploadPdf']" routerLinkActive="active"  *appHasRole="['Laboratorio']"> 
        <mat-icon matListIcon iconsmall>cloud_upload </mat-icon>
          <h3 matLine>Enviar Laudo</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/admin']" routerLinkActive="active" *appHasRole="['Admin', 'Moderator']"> 
        <mat-icon matListIcon iconsmall>security </mat-icon>
          <h3 matLine>Admin</h3>
      </mat-list-item>
    </mat-nav-list>
</div>
