mat-nav-list {
    overflow: hidden;
}
.active {
    background-color: #3a4248;
    color: white;
}
.active h3 {
    color: white;
}
h3 {color: #fff;}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
    background-color: #3a4248;
}

mat-list-item:focus {
    background-color: transparent;
}
mat-icon {
    color: #73818f;
}
.active mat-icon {
    color: #20a8d8;
}