<h1 mat-dialog-title>Adicionar Laboratório</h1>

<mat-dialog-content>
  <form [formGroup]="laboratorioForm" (ngSubmit)="cadastrarLaboratorio()">
    <div formGroupName="user">
      <mat-form-field class="fw">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="laboratorioForm.get('user.email').hasError('required') && laboratorioForm.get('user.email').touched">Email necessário</mat-error>
        <mat-error *ngIf="laboratorioForm.get('user.email').hasError('email') && laboratorioForm.get('user.email').touched">Email inválido</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="fw">
      <input matInput formControlName="nome" placeholder="Nome">
      <mat-error *ngIf="laboratorioForm.get('nome').hasError('required') && laboratorioForm.get('nome').touched">Nome necessário</mat-error>
    </mat-form-field>
    <mat-form-field class="fw">
      <input matInput formControlName="telefone" placeholder="Telefone">
      <mat-error *ngIf="laboratorioForm.get('telefone').hasError('required') && laboratorioForm.get('telefone').touched">Nome necessário</mat-error>
    </mat-form-field>
    <h3>Endereço</h3>
    <mat-form-field class="fw">
      <input matInput formControlName="cep" placeholder="CEP" (blur)=buscaCep($event.target.value)>
      <mat-error *ngIf="laboratorioForm.get('cep').hasError('required') && laboratorioForm.get('cep').touched">Preencha o CEP</mat-error>
    </mat-form-field>
    <mat-form-field class="fw">
      <input matInput formControlName="endereco" placeholder="Endereço completo">
      <mat-error *ngIf="laboratorioForm.get('endereco').hasError('required') && laboratorioForm.get('endereco').touched">Preencha o Logradouro</mat-error>
    </mat-form-field>
    <mat-form-field class="fw">
      <input matInput formControlName="bairro" placeholder="Bairro">
      <mat-error *ngIf="laboratorioForm.get('bairro').hasError('required') && laboratorioForm.get('bairro').touched">Preencha o Bairro</mat-error>
    </mat-form-field>
    <div class="duplo">
      <mat-form-field>
        <input matInput formControlName="cidade" placeholder="Cidade">
        <mat-error *ngIf="laboratorioForm.get('cidade').hasError('required') && laboratorioForm.get('cidade').touched">Preencha o Cidade</mat-error>
      </mat-form-field>
      <mat-form-field class="ml-1">
        <input matInput formControlName="estado" placeholder="Estado">
        <mat-error *ngIf="laboratorioForm.get('estado').hasError('required') && laboratorioForm.get('estado').touched">Preencha o Estado</mat-error>
      </mat-form-field>
    </div>
  </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="fechar()">Cancelar</button>
    <button class="mat-raised-button mat-primary" form="laboratorioForm" (click)="cadastrarLaboratorio()">Adicionar</button>
  </mat-dialog-actions>