.example-card {
    max-width: calc(100% - 20px);
    margin-bottom: 150px;
}

a {
    cursor: pointer;
    font-weight: bold;
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right top, #4ca1af, #6db1bc, #8bc0ca, #a8d0d7, #c4e0e5);
}