<div *ngIf="!loggedIn()" class="login d-flex justify-content-center align-items-center">
  <mat-card *ngIf="!registerMode" class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Não possui login? <a (click)="registerToggle()">Clique aqui!</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="login()">
        <mat-form-field class="fw">
          <input matInput formControlName="username" placeholder="Usuário">
          <mat-error *ngIf="loginForm.get('username').errors && loginForm.get('username').touched">Preencha o Usuário</mat-error>
        </mat-form-field>
        <mat-form-field class="fw" >
          <input matInput formControlName="password" type="password" placeholder="Senha">
          <mat-error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Preencha a senha</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">A senha deve ter ao menos 4 caracteres</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">A senha não deve exceder 8 caracteres</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="fw mt-2" form="loginForm" type="submit" [disabled]="!loginForm.valid">Logar</button>
      </form>
    </mat-card-content>
  </mat-card>
  <app-register *ngIf="registerMode" (cancelRegister)="cancelRegisterMode($event)"></app-register>
</div>
<app-nav *ngIf="loggedIn()"></app-nav>