.example-card {
  max-width: 500px;
  overflow-y: auto;
}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #ececec;border-radius: 4px;}
::-webkit-scrollbar-thumb {background: #cccccc;border-radius: 4px;}
::-webkit-scrollbar-thumb:hover {background: #acacac;}

mat-expansion-panel-header {padding: 0 16px;height: 40px !important;}
mat-expansion-panel-body {padding: 0 16px 12px;}
mat-panel-description {margin-right: 0;}
.mat-action-row {padding: 8px;}

@media screen and (max-width: 599px) {
  mat-panel-description {display: none;}
  .example-card {
    max-width: calc(100vw - 20px);
  }
}
