<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Registrar</mat-card-title>
    <mat-card-subtitle>Preencha todos os campos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="register-accordion">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle #matExpansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dados de Cadastro
          </mat-panel-title>
          <mat-panel-description class="flex-grow-0 flex-shrink-1">
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="userForm" (ngSubmit)="register()">
          <mat-form-field class="fw">
            <input matInput formControlName="username" placeholder="Usuário">
            <mat-error *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">Usuário necessário</mat-error>
          </mat-form-field>
          <mat-form-field class="fw">
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">Email necessário</mat-error>
            <mat-error *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched">Email inválido</mat-error>
          </mat-form-field>
          <div formGroupName="passwords">
            <mat-form-field class="fw" >
              <input matInput formControlName="password" type="password" placeholder="Senha">
              <mat-error *ngIf="userForm.get('passwords.password').hasError('required') && userForm.get('passwords.password').touched">Senha necessária</mat-error>
              <mat-error *ngIf="userForm.get('passwords.password').hasError('minlength') && userForm.get('passwords.password').touched">A senha precisa ter no mínimo 4 caracteres</mat-error>
              <mat-error *ngIf="userForm.get('passwords.password').hasError('maxlength') && userForm.get('passwords.password').touched">A senha não pode exceder 8 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="fw" >
              <input matInput formControlName="confirmPassword" type="password" placeholder="Confirmar Senha" [errorStateMatcher]="matcher">
              <mat-error *ngIf="userForm.get('passwords.confirmPassword').hasError('required') && userForm.get('passwords.confirmPassword').touched">Confirmar senha necessário</mat-error>
              <mat-error *ngIf="userForm.get('passwords').hasError('notSame')">As senhas devem ser iguais</mat-error>
            </mat-form-field>
          </div>
        </form>
        <mat-action-row>
          <button mat-button color="primary" type="button" (click)="nextStep()" [disabled]="!userForm.valid">Continuar</button>
        </mat-action-row>
    
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true" [disabled]="!userForm.valid">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Informações Adicionais
          </mat-panel-title>
          <mat-panel-description class="flex-grow-0 flex-shrink-1">
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h3 class="mt-2">Tipo de Cadastro</h3>
        <mat-form-field class="fw">
          <mat-select [(value)]="tipoCadastro" placeholder="Selecione">
            <mat-option value="clinica">Clinica</mat-option>
            <mat-option value="medico">Médico</mat-option>
            <mat-option value="paciente">Paciente</mat-option>
            <!-- <mat-option value="laboratorio">Laboratório</mat-option>
            <mat-option value="motoboy">Motoboy</mat-option> -->
          </mat-select>
        </mat-form-field>
        
        <p *ngIf="tipoCadastro === ''">Tipo nenhum</p>
        <app-clinica-register *ngIf="tipoCadastro === 'clinica'" (dadosClinica)="setDados($event)"></app-clinica-register>
        <app-medico-register *ngIf="tipoCadastro === 'medico'" (dadosMedico)="setDados($event)"></app-medico-register>
        <app-paciente-register *ngIf="tipoCadastro === 'paciente'"(dadosPaciente)="setDados($event)"></app-paciente-register>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Voltar</button>
          <button mat-button color="primary" (click)="concluir()" [disabled]="!dadosFormStatus">Concluir</button>
        </mat-action-row>
      </mat-expansion-panel>
    
    </mat-accordion>

  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <div class="col-6">
        <button mat-raised-button type="button" class="fw" (click)="cancel()">Cancelar</button>
      </div>
      <div class="col-6">
        <button mat-raised-button color="primary" type="button" class="fw" (click)="register()" [disabled]="!registerUnlock">Registrar</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
