<div class="toolbar-user-container">
  <button mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen">
    <div class="menu">
      <mat-icon class="icone">settings</mat-icon>
      <span class="name .d-none">Opções</span>
      <mat-icon class="icon .d-none ml-auto">keyboard_arrow_down</mat-icon>
    </div>
  </button>


  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/usuario/editar']" (click)="this.isOpen=false">
          <a matLine>Editar Perfil</a>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <a matLine>Ajuda</a>
          <button mat-icon-button>
            <mat-icon>help</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <a matLine (click)="callLogout()">Sair</a>
          <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>