:host {
  height: 100%;
}
@media screen and (max-width: 599px) {
  .name {display: none;}
  .icon {display: none;}
}

/deep/ .toolbar-user-btn .mat-button-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 599px) {
    justify-content: center;
  }
  
  .menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 599px) {
      justify-content: center;
    }
  }
}

.toolbar-user-container {
  height: 100%;
  position: relative;

  .toolbar-user-btn {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 160px;

    @media screen and (max-width: 599px) {
      min-width: 65px;
    }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .name {
      margin: 0 8px 0 10px;
    }

    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.open {
      background: rgba(0, 0, 0, 0.05);

      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown {
    background: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear, max-height 0.25s linear, opacity 0.25s linear;

    @media screen and (max-width: 599px) {
      left: -95px;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}
