<h1 mat-dialog-title>Hello {{user.userName}}</h1>

<mat-dialog-content>
  <form #rolesForm="ngForm" id="rolesForm">
    <div class="form-check" *ngFor="let role of roles">
      <mat-checkbox [checked]="role.checked" (change)="role.checked = !role.checked"
        [disabled]="role.name === 'Admin' && user.userName === 'Admin'">{{role.name}}</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Cancelar</button>
  <button class="mat-raised-button mat-primary" form="rolesForm" (click)="updateRoles()">Confirmar</button>
</mat-dialog-actions>