<h1 mat-dialog-title>Adicionar Laboratório</h1>

<mat-dialog-content>
  <form [formGroup]="medicoForm" (ngSubmit)="cadastrarMedico()">
    <div formGroupName="user">
      <mat-form-field class="fw">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="medicoForm.get('user.email').hasError('required') && medicoForm.get('user.email').touched">Email necessário</mat-error>
        <mat-error *ngIf="medicoForm.get('user.email').hasError('email') && medicoForm.get('user.email').touched">Email inválido</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="fw">
      <input matInput formControlName="nome" placeholder="Nome">
      <mat-error *ngIf="medicoForm.get('nome').hasError('required') && medicoForm.get('nome').touched">Nome necessário</mat-error>
    </mat-form-field>
    <mat-form-field class="fw">
      <input matInput formControlName="registro" placeholder="Registro">
      <mat-error *ngIf="medicoForm.get('registro').hasError('required') && medicoForm.get('registro').touched">Registro necessário</mat-error>
    </mat-form-field>
    <mat-form-field class="fw">
      <input matInput formControlName="especialidade" placeholder="Especialidade">
      <mat-error *ngIf="medicoForm.get('especialidade').hasError('required') && medicoForm.get('especialidade').touched">Preencha a Especialidade</mat-error>
    </mat-form-field>
    <div class="duplo">
      <mat-form-field>
        <input matInput formControlName="cidade" placeholder="Cidade">
        <mat-error *ngIf="medicoForm.get('cidade').hasError('required') && medicoForm.get('cidade').touched">Preencha a Cidade</mat-error>
      </mat-form-field>
      <mat-form-field class="ml-1">
        <input matInput formControlName="estado" placeholder="Estado">
        <mat-error *ngIf="medicoForm.get('estado').hasError('required') && medicoForm.get('estado').touched">Preencha o Estado</mat-error>
      </mat-form-field>
    </div>
  </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="fechar()">Cancelar</button>
    <button class="mat-raised-button mat-primary" form="medicoForm" (click)="cadastrarMedico()">Adicionar</button>
  </mat-dialog-actions>