<div class="table-header azul-escuro">
  <h1>Meu Perfil</h1>
</div>
<div class="container d-flex justify-content-center">
  <mat-card  class="example-card">
    <mat-card-header>
      <mat-card-title>Editar perfil</mat-card-title>
      <mat-card-subtitle><span *ngIf="editForm.dirty">Mudanças não salvas!</span>&nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.nome" name="nome" matInput placeholder="Nome" disabled>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.age" name="idade" matInput placeholder="Idade" disabled>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="fw">
                <mat-select name="sexo" placeholder="Sexo" [(value)]="user.sexo" disabled>
                  <mat-option>Selecione</mat-option>
                  <mat-option value="Feminino">Feminino</mat-option>
                  <mat-option value="Masculino">Masculino</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.cpf" name="cpf" matInput placeholder="CPF" disabled>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.email" name="email" matInput placeholder="Email">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.telefone" name="telefone" matInput placeholder="Telefone">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.cep" name="cep" matInput placeholder="Cep">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.estado" name="estado" matInput placeholder="Estado">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.cidade" name="cidade" matInput placeholder="Cidade">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="fw">
              <input [(ngModel)]="user.endereco" name="endereco" matInput placeholder="Endereco">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col-6">
          <button mat-raised-button class="fw" form="editForm" [disabled]="!editForm.dirty" color="primary">
            Confirmar
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button class="fw" (click)="voltar()">
            Cancelar
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>