/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../node_modules/bootstrap/scss/utilities/spacing';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {font-family: 'Roboto', sans-serif;}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #ececec;}
::-webkit-scrollbar-thumb {background: #cccccc;}
::-webkit-scrollbar-thumb:hover {background: #acacac;}

.fw {width: 100%;}
.duplo mat-form-field {
    width: 100%;
}
.duplo34 mat-form-field:first-child {
    width: 80%;
}
.duplo34 mat-form-field:last-child {
    width: 20%;
}
@media screen and (min-width: 600px) {
    .duplo {display: flex;}
    .duplo mat-form-field:first-child {
        margin-right: 4px;
    }
    .duplo34 {display: flex;}
    .duplo34 mat-form-field:first-child {
        margin-right: 4px;
    }
}

.success-toast {background-color: darkgreen;color: white;}
.error-toast {background-color: red;color: black;}
.warning-toast {background-color: goldenrod;color: black;}
.message-toast {background-color: lightgray;color: black;}

// Alterações Angular Material
.mat-card {border-radius: 4px !important;margin: 20px 0 !important;max-height: calc(100vh - 50px) !important;}
.mat-card-header-text {margin: 0 !important;}
.mat-card-actions {margin: 0 !important;}

// Tabelas
.amarelo {background: linear-gradient(60deg,#ffa726,#fb8c00);}
.verde {background: linear-gradient(60deg,#66bb6a,#43a047);}
.vermelho {background: linear-gradient(60deg,#ef5350,#e53935);}
.azul {background: linear-gradient(60deg,#26c6da,#00acc1);}
.azul-escuro {background: linear-gradient(60deg,#0f66ad,#044981);}
.table-header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    place-content: center space-around;
    align-items: center;
    height: 200px;
    max-height: 200px;
    padding: 10px !important;
}
.table-header h1 {
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 3px;
}
.table-header .pesquisar {
    flex-direction: row;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
    color: rgba(0,0,0,.54);
    width: 100%;
    max-width: 640px;
    height: 56px;
    line-height: 56px;
    padding: 18px;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),
                0 7px 10px 1px rgba(0,0,0,.14),
                0 2px 16px 1px rgba(0,0,0,.12);
}
.table-header .pesquisar .icone {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    font-weight: 400!important;
    line-height: 1;
}
.table-header .pesquisar input {
    flex: 1 1 0%;
    background: #fff;
    color: rgba(0,0,0,.87);
    padding-left: 16px;
    border: none;
    outline: 0;
    padding: 0 16px;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
@media screen and (min-width: 600px) {
    .table-header {
        padding: 24px;
    }
}
.table-header .pesquisar .mat-form-field-underline {
    display: none;
}

.adicionar {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
}