<h3 class="mt-4">Dados Pessoas</h3>
<form [formGroup]="medicoForm">
  <mat-form-field class="fw">
    <input matInput formControlName="nome" placeholder="Nome Completo">
    <mat-error *ngIf="medicoForm.get('nome').hasError('required') && medicoForm.get('nome').touched">Preencha o Nome</mat-error>
    <mat-error *ngIf="medicoForm.get('nome').hasError('minlength') && medicoForm.get('nome').touched">O nome necessita ao menos 4 letras</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="registro" placeholder="Registro">
    <mat-error *ngIf="medicoForm.get('registro').hasError('required') && medicoForm.get('registro').touched">Preencha o Registro</mat-error>
  </mat-form-field>
  <mat-form-field class="fw">
    <input matInput formControlName="especialidade" placeholder="Especialidade">
    <mat-error *ngIf="medicoForm.get('especialidade').hasError('required') && medicoForm.get('especialidade').touched">Preencha a Especialidade</mat-error>
  </mat-form-field>

  <div class="duplo">
    <mat-form-field>
      <input matInput formControlName="cidade" placeholder="Cidade">
      <mat-error *ngIf="medicoForm.get('cidade').hasError('required') && medicoForm.get('cidade').touched">Preencha o Cidade</mat-error>
    </mat-form-field>
    <mat-form-field class="ml-1">
      <input matInput formControlName="estado" placeholder="Estado">
      <mat-error *ngIf="medicoForm.get('estado').hasError('required') && medicoForm.get('estado').touched">Preencha o Estado</mat-error>
    </mat-form-field>
  </div>
</form>
