.dashcard {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: white;
    padding: 0;
    border-radius: 0 !important;
}
.dashcard .cardIcon {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashcard .cardIcon .icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: white;
    cursor: default;
}
.dashcard .cardBody {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dashcard .cardBody .contador {
    color: white;
    font-size: 40px;
}
.dashcard .cardBody .titulo {
    margin: 0px;
    font-size: 14px;
    color: white;
    border-top: 1px solid white;
}
// .dashcard.azul .cardIcon {background: #26c6da;}
// .dashcard.azul .cardBody {background: #00acc1;}
// .dashcard.verde .cardIcon {background: #66bb6a;}
// .dashcard.verde .cardBody {background: #43a047;}
// .dashcard.amarelo .cardIcon {background: #ffa726;}
// .dashcard.amarelo .cardBody {background: #fb8c00;}

.dashcard.amarelo {background: linear-gradient(60deg,#ffa726,#fb8c00);}
.dashcard.verde {background: linear-gradient(60deg,#66bb6a,#43a047);}
.dashcard.vermelho {background: linear-gradient(60deg,#ef5350,#e53935);}
.dashcard.azul {background: linear-gradient(60deg,#26c6da,#00acc1);}