<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <mat-card class="dashcard azul">
        <div class="cardIcon">
          <mat-icon class="icon">account_box</mat-icon>
        </div>
        <div class="cardBody">
          <div class="contador">{{clinica.pacientes.length}}</div>
          <p class="titulo">Pacientes</p>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashcard vermelho">
        <div class="cardIcon">
          <mat-icon class="icon">local_hospital</mat-icon>
        </div>
        <div class="cardBody">
          <div class="contador">{{clinica.medicos.length}}</div>
          <p class="titulo">Médicos</p>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashcard amarelo">
        <div class="cardIcon">
          <mat-icon class="icon">all_inbox</mat-icon>
        </div>
        <div class="cardBody">
          <div class="contador">{{clinica.amostras.length}}</div>
          <p class="titulo">Amostras</p>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="dashcard verde">
        <div class="cardIcon">
          <mat-icon class="icon">local_pharmacy</mat-icon>
        </div>
        <div class="cardBody">
          <div class="contador">{{clinica.laboratorios.length}}</div>
          <p class="titulo">Laboratórios</p>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xs-12 col-sm-6">
      <mat-card>
        <canvas #lineChart>{{chart1}}</canvas>
      </mat-card>
    </div>
    <div class="col-xs-12 col-sm-6">
      <mat-card>
        <canvas #pieChart>{{chart2}}</canvas>
      </mat-card>
    </div>
  </div>
</div>