<div class="table-header amarelo">
  <h1>Motoboys</h1>
  <div class="pesquisar">
    <mat-icon iconsmall>search </mat-icon>
    <input (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar...">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="fw">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
          </ng-container>
      
          <!-- Cpf Column -->
          <ng-container matColumnDef="cpf">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cpf </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
          </ng-container>
      
          <!-- Celular Column -->
          <ng-container matColumnDef="celular">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Celular </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.celular}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
