<div class="table-header verde">
  <h1>Laboratórios</h1>
  <div class="pesquisar">
    <mat-icon iconsmall>search </mat-icon>
    <input (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar...">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="fw">
        <button mat-mini-fab class="verde adicionar" matTooltip="Adicionar Laboratório" (click)="adicionarLaboratorio()"><mat-icon iconsmall>add</mat-icon></button>
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
          </ng-container>
      
          <!-- Telefone Column -->
          <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
          </ng-container>
      
          <!-- Bairro Column -->
          <ng-container matColumnDef="bairro">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.bairro}} </mat-cell>
          </ng-container>

          <!-- Cidade Column -->
          <ng-container matColumnDef="cidade">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cidade}} </mat-cell>
          </ng-container>

          <!-- Estado Column -->
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
