<form *ngIf="!loggedIn()" #loginForm="ngForm" class="p-2 d-flex" (ngSubmit)="login()">
  <mat-form-field floatLabel="never" style="font-size: 13px">
    <input matInput name="username" placeholder="Usuário" required [(ngModel)]="model.username">
  </mat-form-field>
  <mat-form-field class="ml-1 mr-1" floatLabel="never" style="font-size: 13px">
    <input matInput name="password" type="password" placeholder="Senha" required [(ngModel)]="model.password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" style="height: 36px !important;" [disabled]="!loginForm.valid">Logar</button>
</form>