<h2 mat-dialog-title>{{message}}</h2>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancelar</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Confirmar</button>
</mat-dialog-actions>