<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2>Admin Panel</h2>
    </div>
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Pacientes" *appHasRole="['Admin']"><app-user-management></app-user-management></mat-tab>
        <mat-tab label="Clínicas">Edit Clínicas</mat-tab>
        <mat-tab label="Médicos">Edit Médicos</mat-tab>
        <mat-tab label="Laboratórios">Edit Laboratórios</mat-tab>
        <mat-tab label="Motoboys">Edit Motoboys</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>